[Unit]
Description=Circuit Breaker Redis
After=network.target

[Service]
Type=notify
User=${CB_REDIS_USER}
Slice=circuitbreaker.slice
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
Restart=on-failure
RestartSec=5s
NoNewPrivileges=yes
MemoryMax=256M
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cb-redis


[Install]
WantedBy=multi-user.target
